<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    
    <p>Hello, <%= @user.name %></p>
    <p>The ticket "<%= @ticket.subject %>" is now owned by you.</p>
    <p><%= @url_ticket %></p>	

    <br>
    <p>This message sent from Koombea Support.</p>
    <p>Koombea Support: <%= @url %></p>
  </body> 
</html>