<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello</h1>
    
    <p>The user <%= @user.email %> changed the status of ticket "<%= @ticket.subject %>" to "<%= @ticket.status.gsub('_', ' ').upcase %>"</p>
    
  </body> 
</html>