<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello</h1>
    
    <p><%= @user.email %> state change of the ticket "<%= @ticket.subject %>" to <%= @status %></p>
    
  </body> 
</html>